body {
    background: #242020;
}

.animacao-svg {
    width: 400px;
    margin: 100px auto;
}

.animacao-svg svg {
    stroke-width: 2px;
    stroke: rgb(255, 0, 191);
    width: 100%;
    height: 100%;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: svganimation 5s ease-in-out forwards infinite;
}

@keyframes svganimation {
    0%{
        stroke-dashoffset: 1000;
        stroke-dasharray: 1000;
    }
    30% {
        stroke-dashoffset: 0;
        stroke-dasharray: 700;
    }
    50% {
        stroke-dashoffset: 0;
        stroke-dasharray: 500;
    }
    100%{
        stroke-dashoffset: 0;
        stroke-dasharray: 0;
    }
}